@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 1px;
}

.calendar-container {
  margin: 2rem 1rem 3rem 1rem;
}

.calendar-container .react-calendar {
  border: none;
}
.calendar-container
  .react-calendar
  .react-calendar__month-view__weekdays__weekday
  abbr {
  text-decoration: none;
  color: #1b2559;
}
.calendar-container
  .react-calendar
  .react-calendar__month-view__weekdays__weekday {
  background-color: #f4f7fe;
  padding: 0.5rem 1rem;
}

.calendar-container .react-calendar {
  border-radius: 1rem;
}

.react-datepicker-popper {
}
